@import '../../../styles/1-helpers/variables';
@import '../../../styles/1-helpers/functions';

.indent__1 {
    margin-left: 1rem;
}

.indent__2 {
    margin-left: 2.4rem;
}

.strong {
    font-weight: 600 !important;
}