@import '../../../styles/1-helpers/variables';
@import '../../../styles/1-helpers/functions';

.admin__dataset__content {
    position: relative;
    margin-left: 20rem;
    // height: 57rem;
    height: 60rem;
    // max-height: 80vh;
    width: 77%;
    // border: 2px solid black;

    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.dataset__dropdown__field {
    // color: rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    background: #c8f4fc;
    font-weight: 400;
    // text-indent: 1rem;
    text-align: center;

    border: 2px solid #c8f4fc;
    border-radius: 10px;
}

.dataset__dropdown__field::-webkit-scrollbar{
    width: .7rem;
    background-color: none;
    border-radius: .5rem;
}

.dataset__dropdown__field::-webkit-scrollbar-thumb{
    background-color: $color4;
    border-radius: .5rem;
}

.dataset__dropdown__field::-webkit-scrollbar-thumb:hover{
    background-color: $color3;
}