//COLLOR PALLETE

$color1: #F8FEFE;
$color2: #81D0D7;
$color3: #00B2C0;
$color4:#E78D6D;
$color5: #000000;
$color6: #DF744E;

$color8: gray;



//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:992px;
$breakpoint-mini-laptop:768px;
$breakpoint-tablet:576px;
$breakpoint-mobile:400px;